@charset 'UTF-8';
#QvAjaxToolbar{
	position: fixed !important;
	top: 0px !important;
	left: 0px !important;
	z-index: 300000 !important;
}
.QvFrame.parentFixBlock{
	z-index: 200000 !important;
}
.PopupSearch, #DS{
	z-index: 250000 !important;
	margin-top: 25px !important;
}
#PageContainer{
	margin-top: 25px !important;
}
.parentFixBlock{
	position: fixed !important;
	margin-top: 25px !important;
}
.popupMask{
	z-index: 300000 !important;
}
.ModalDialog{
	z-index: 350000 !important;	
}
#CurrentSelection{
	left: 15px !important;
	top: 40px !important;
	position: fixed !important;
	z-index: 255000 !important;
}
.ctx-menu.popup-shadow{
	z-index: 355000 !important;	
}
.ToolWindow{
	z-index: 255550 !important;
	margin-top: 30px;
}